.layer-box {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  &.-show {
    height: 100%;
    animation-name: showMask;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }
}

.layer-mask {
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
}

@keyframes showMask {
  0% {
    opacity: .1;
  }
  40% {
    opacity: .3;
  }
  60% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  95% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

.popup-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transform: translate3D(0, 100%, 0);

  &.-show {
    animation-name: showPopup;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-delay: .2s;
  }
}

@keyframes showPopup {
  0% {
    transform: translate3D(0, 100%, 0);
  }
  25% {
    transform: translate3D(0, 70%, 0);
  }
  55% {
    transform: translate3D(0, 20%, 0);
  }
  70% {
    transform: translate3D(0, 12%, 0);
  }
  100% {
    transform: translate3D(0, 0, 0);
  }
}

.picker-ul {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .pick-list {
    height: 180px;
  }
  .picker-item {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
  }
}
