
/** 以下是字体和css公共设置 */

/**
  * 1. Change the default font family in all browsers (opinionated).
  * 2. Correct the line height in all browsers.
  * 3. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  */
html {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Thin", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.2;
  color: #333;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;/*px*/
}

/** input placeholder */
input::-webkit-input-placeholder { /* WebKit browsers*/
  color: #999;
}

input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
  color: #999;
}

input::-moz-placeholder {  /* Mozilla Firefox 19+*/
  color: #999;
}

input:-ms-input-placeholder { /* Internet Explorer 10+*/
  color: #999;
}

/** ====================================== layout ====================================== */
.max-container {
  width: 100%;
  min-height: 100%;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

/** flex布局 */
.dis-flex {
  display: flex;
}

/** flex布局 主轴起点（左/上）对齐 */
.flex-main-head {
  /* 09版 */
  -webkit-box-pack: start;
  /* 12版 */
  justify-content: flex-start;
}

/** flex布局 主轴终点（右/下）对齐 */
.flex-main-tail {
  /* 09版 */
  -webkit-box-pack: end;
  /* 12版 */
  justify-content: flex-end;
}

/** flex布局 主轴方向内容对齐居中 */
.flex-main-center {
  /* 09版 */
  -webkit-box-pack: center;
  /* 12版 */
  justify-content: center;
}

/** flex布局 主轴各内容之间间距相等（只有两个子元素则分居两边） */
.flex-main-between {
  /* 09版 */
  -webkit-box-pack: justify;
  /* 12版 */
  justify-content: space-between;
}

/** flex布局 交叉轴起点（上/左）对齐 */
.flex-cross-head {
  /* 09版 */
  -webkit-box-align: start;
  /* 12版 */
  align-items: flex-start;
}

/** flex布局 交叉轴终点（下/右）对齐 */
.flex-cross-tail {
  /* 09版 */
  -webkit-box-align: end;
  /* 12版 */
  align-items: flex-end;
}

/** flex布局 交叉轴方向内容对齐居中 */
.flex-cross-center {
  /* 09版 */
  -webkit-box-align: center;
  /* 12版 */
  align-items: center;
}

/** flex布局 交叉轴(多行)起点（上/左）对齐 */
.flex-multi-cross-head {
  align-content: flex-start;
}

/** flex布局 交叉轴(多行)终点（下/右）对齐 */
.flex-multi-cross-tail {
  align-content: flex-end;
}

/** flex布局 交叉轴(多行)方向内容对齐居中 */
.flex-multi-cross-center {
  align-content: center;
}

/** flex布局 交叉轴(多个轴)各轴之间间距相等（只有两个轴则分居两边） */
.flex-multi-cross-between {
  align-content: space-between;
}

/** 容器内单个元素 对齐顶部 */
.flex-self-align-head {
  align-self: flex-start;
}

/** 容器内单个元素 对齐底部 */
.flex-self-align-tail {
  align-self: flex-end;
}

/** 容器内单个元素 居中对齐 */
.flex-self-align-center {
  align-self: center;
}

/** flex布局 主轴设为垂直方向 */
.flex-column {
  /* 09版 */
  -webkit-box-orient: vertical;
  /* 12版 */
  flex-direction: column;
}

/* flex容器内元素超出的处理：换行（其他值:nowrap|wrap|wrap-reverse（第一行在下方） */
.flex-vw {
  /* 09版 */
  -webkit-box-lines: multiple;
  /* 12版 */
  flex-wrap: wrap;
}

/** 浮动 */
.fn-clear:after {
  content: '';
  display: block;
  clear: both;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

/** 定位 */
.pos-relative {
  position: relative!important;
}

.pos-absolute {
  position: absolute!important;
}

/** padding */
.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

/** border */
.no-border {
  border: none!important;
}

.no-border-top {
  border-top: none!important;
}

.no-border-right {
  border-right: none!important;
}

.no-border-bottom {
  border-bottom: none!important;
}

.no-border-left {
  border-left: none!important;
}

.default-border {
  border: 1px solid #e5e5e5;/*no*/
}

.default-border-top {
  border-top: 1px solid #e5e5e5;/*no*/
}

.default-border-right {
  border-right: 1px solid #e5e5e5;/*no*/
}

.default-border-bottom {
  border-bottom: 1px solid #e5e5e5;/*no*/
}

.default-border-left {
  border-left: 1px solid #e5e5e5;/*no*/
}

/** margin */
.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

/** ====================================== content ====================================== */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.single-text-overflow {
  // width: // 加宽度width属来兼容部分浏览器
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
